.btn
  display inline-block
  padding 1rem 3rem
  font-size 1.2rem
  border-radius 6px
  border 3px solid #b2b2b2 
  transition .5s
  &:hover
    border 3px solid #49bf9d
    border-radius 6px
    color #49bf9d