.header
  .headerContent
    img.header__avatar(src="./images/avatar.jpg")
    p.header__caption I am Strata, a super simple
    | responsive site template freebie
    |crafted by 
    a.link HTML5 UP.