.header
  .headerContent
    img.header__avatar(src="./images/avatar.jpg")
    p.header__caption 
      span.header__caption_bold I am Strata
      |, a super simple responsive site template freebie crafted by 
      a.link(href="#") HTML5 UP. 