.header
  background: url('./images/bg.jpg')
  width 40%
  position fixed
  top 0
  bottom 0
  left 0
  height 100vh
  &Content
    position absolute
    top 15rem
    right 5rem
    text-align right
  &__avatar
    border-radius 100%
    