.portfolio
  hr.portfolio__line
  h2.portfolio__caption Recent Work
  .row
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic1.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic2.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  .row
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic3.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic4.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  .row
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic5.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
    .col-sm-6
      .thumbnail
        a.thumbnail__link(href="#" data-title='view')
          img.thumbnail__image(src='./images/pic6.png')
        h3.thumbnail__caption Magna sed consequat tempus
        p.thumbnail__description Lorem ipsum dolor sit amet nisl sed nullam feugiat.
  a.btn Full Portfolio
  hr.portfolio__line