.contact    
  margin-bottom 5rem
  &__caption
    font-weight 100
    font-size 1.7rem
    color #787878
  &__description
    line-height 2rem
    font-size 1.2rem
    margin-bottom 4rem
  &Form
  &__textarea
    margin-bottom 2rem
    resize none
    

.contactList
  margin 0
  list-style none
  font-size 1.2rem
  color #b2b2b2
  @media (max-width 760px)
    margin-top 2rem
  &__item
    padding-left 1rem
    margin-bottom 2rem
    line-height 2rem
    i
      position absolute
      left -1.5rem
      font-size 1.5rem
    &_phone
      i
        left -1.1rem
        font-size 1.9rem