.contact
  h2.contact__caption Get In Touch
  p.contact__description Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.
  .row
    .col-sm-8
      form.contactForm(method='post' action='#')
        .row
          .col-sm-6
            input.input.input_group(type='text' name='Name' placeholder='Name')
          .col-sm-6
            input.input.input_group(type='email' name='Email' placeholder='Email')
        .row
          .col-sm-12
            textarea.contactForm__textarea.input.input_area(name='textarea' placeholder='Message')
      input.btn(type='submit' value='Send Message')
    .col-sm-4
      ul.contactList.row
        li.contactList__item.contactList__item_address.col-xs-12
          i.fa.fa-home.icon
          | 1234 Somewhere Rd.
          br
          | Nashville, TN 00000
          br
          | United States
        li.contactList__item.contactList__item_phone.col-xs-12
          i.fa.fa-mobile.fa-3.icon
          | 000-000-0000
          
        li.contactList__item.contactList__item_address.col-xs-12
          i.fa.fa-envelope-o.icon
          a.link(href='#') hello@untitled.tld