.footer
  position fixed
  bottom 15%
  right 69%
  z-index 2
  text-align right
  color #b2b2b2
  @media (max-width 1200px)
    position relative
    bottom 0
    left 0
    right 0
    text-align center
    background: url('./images/bg.jpg') center / cover
    padding 2rem
.socialLinks
  font-size 2rem
  &__item
    margin 3%
    border-bottom none
  
.copyrights
  display inline-block
  color #b2b2b2
  padding-inline-start 0
  &__item
    display inline-block